.container {
    border: 2px solid #000;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
}

.admitCardTitle {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.leftColumn {
    width: 60%;
}

.rightColumn {
    width: 35%;
    text-align: center;
}

.image {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border: 1px solid #000;
    border-radius: 5px;
}

.imageText {
    text-align: center;
    font-size: 12px;
}

.section {
    margin-bottom: 20px;
}

.signatureSection {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.signature {
    border-bottom: 1px solid #000;
    width: 150px;
    margin: 10px 0 0;
    text-align: center;
}

.signatureano {
    border-top: 1px solid #000;
    width: 150px;
    margin: 10px 0 0;
    text-align: center;
}

.photoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholderPhoto {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #888;
}

.signatureContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Adjust spacing as needed */
}

.placeholderSignature {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #888;
}

.signatureText {
    text-align: center;
    margin-top: 5px; /* Adjust spacing as needed */
}

.instructionscontainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
